/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*========== VARIABLES CSS ==========*/
:root {
  /*===== Colors =====*/
  --soft-white: #fbfaf5;
  --soft-black: #181a18;
  --white: #ffffff;
  --black: #0a0a0a;
  --primary-red: #d17c78;
  --theme-color: #ffd60a;
  --theme-blue: #00509d;
  --theme-dark: #1c1d20;
  --dark-shade: #161a1d;
  /* --light-white: #1c1d20; */
  --light-green: #f1faf1;
  --light-blue: #bebae8;
  --light-pink: #f9b5cd;
  --text-grey: #444950;
  --light-grey: #ebebeb;
  --success: #13ae8f;
  --error: #ff3333;

  /*===== Font and typography =====*/
  --pri-font: "Inter", sans-serif;
  --sec-font: "Outfit", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --fs-6: 6rem;
  --fs-5-5: 5.5rem;
  --fs-5: 5rem;
  --fs-4-5: 4.5rem;
  --fs-4: 4rem;
  --fs-3-5: 3.5rem;
  --fs-3: 3rem;
  --fs-2-5: 2.5rem;
  --fs-2: 2rem;
  --fs-1-5: 1.5rem;
  --fs-1: 1rem;
  --fs-0-95: 0.95rem;
  --fs-0-85: 0.85rem;
  --fs-0-75: 0.75rem;
  --fs-0-65: 0.65rem;
  --fs-0-5: 0.5rem;
  --fs-0-25: 0.275rem;
  --fs-0-2: 0.2rem;
  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*===== Margenes Bottom =====*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-3-5: 3rem;
  --mb-4: 4rem;
  --mb-4-5: 4.5rem;
  --mb-5: 5rem;
  --mb-5-5: 5.5rem;
  --mb-6: 6rem;
  --mb-6-5: 6.5rem;
  --mb-7: 7rem;
  --mb-7-5: 7.5rem;
  --mb-8: 8rem;
}

/*========== BASE SECTION ==========*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}



/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: var(--sec-font);
  font-size: var(--fs-1);
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--white);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--mb-8);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: fit-content;
  height: auto;
  padding: var(--mb-0-75) var(--mb-1-5);
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--body-font);
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@keyframes fadecard {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 2.2rem;
  bottom: -8rem;
  background-color: var(--theme-blue);
  padding: var(--mb-0-5);
  border-radius: 0.4rem;
  z-index: 15;
  transition: 0.4s all ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.scrollup:hover {
  bottom: 2.35rem;
  /* background-color: var(--primary-pink); */
}

.scrollup-icon {
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .scrollup:hover .scrollup__icon {
  color: var(--primary-pink);
} */

/* Show scroll */
.show-scroll {
  bottom: 2rem;
}

/*========== HEADER SECTION ==========*/
.header {
  width: 100%;
  /* border: 1px dodgerblue solid; */
  padding: 0 var(--mb-6);
  position: fixed;
  top: var(--mb-2);
  background-color: transparent;
  z-index: 10;
  /* display: none; */
}

.nav {
  width: 100%;
  /* border: 1px tomato solid; */
  justify-content: space-between;
  padding: var(--mb-1) 0;
  border-bottom: 2px var(--text-grey) solid;
  background-color: transparent;
  transition: all 0.4s ease;
}

.scroll-nav {
  padding: var(--mb-1) var(--mb-1-5);
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}

.nav-menu,
#nm-open {
  display: none;
}

.nav-logo {
  flex: 0 0 auto;
  justify-content: flex-start;
}

.nav-logo h3 {
  font-size: var(--fs-1-5);
  text-align: left;
  font-weight: 500;
}

.nav-links {
  flex: 0 0 auto;
  column-gap: var(--mb-2);
}

.nl {
  flex: 0 0 auto;
}

.nl a {
  font-size: 1.1rem;
  text-align: center;
  opacity: 0.75;
  /* transition: all 0.3s ease; */
}

.nl a:hover {
  border-bottom: 3px var(--theme-blue) solid;
  opacity: 1;
}

.nl-active a {
  border-bottom: 3px var(--theme-blue) solid;
  opacity: 1;
}

.nav-btn {
  padding: var(--mb-0-5) var(--mb-1);
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
}

.nav-btn a {
  font-size: 0.9rem;
  color: var(--white);
}

/*========== FOOTER SECTION ==========*/
.footer {
  width: 100%;
  padding: var(--mb-1-5) var(--mb-2);
  /* border: 1px orange solid; */
}

.f-container {
  width: 100%;
  background-color: var(--black);
  row-gap: var(--mb-3);
  padding: var(--mb-4) var(--mb-8);
}

.fc {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.fc-title {
  flex: 0 0 30%;
  align-items: flex-start;
  row-gap: var(--mb-2);
}

.fc-title h3 {
  font-size: var(--fs-2);
  text-align: left;
  font-weight: 500;
  color: var(--white);
  line-height: 1;
}

.fc-title p {
  width: 90%;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: left;
  color: var(--light-grey);
}

.fc-socials {
  width: 100%;
  justify-content: flex-start;
  column-gap: var(--mb-0-75);
  margin: 0;
  border: 0;
}

.fcs {
  width: 45px;
  height: 45px;
  background-color: var(--soft-black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--mb-0-25);
  cursor: pointer;
  transition: all 0.3s ease;
}

.fcs a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcs a i {
  font-size: var(--fs-1-5);
  color: var(--soft-white);
}

.fcs:hover i {
  color: var(--theme-color);
}

.fc-links {
  flex: 0 0 30%;
  align-items: flex-start;
  row-gap: var(--mb-2);
}

.fc-links h3 {
  font-size: var(--fs-1-5);
  text-align: left;
  font-weight: 500;
  color: var(--white);
  line-height: 1;
}

.fc-links ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: var(--mb-0-5);
  margin: 0;
  border: 0;
}

.fcl,
.fcl a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fcl a {
  color: var(--white);
  font-weight: 300;
  transition: all 0.3s ease;
  text-align: left;
}

.fcl a:hover {
  color: var(--theme-color);
}

.fc-news {
  flex: 0 0 30%;
  align-items: flex-start;
  row-gap: var(--mb-1);
}

.fc-news h3 {
  font-size: var(--fs-1-5);
  text-align: left;
  font-weight: 500;
  color: var(--white);
  line-height: 1;
  margin-bottom: var(--mb-1);
}

.fc-news input {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: var(--mb-0-75) var(--mb-1);
  font-size: var(--fs-1);
  color: var(--text-grey);
  text-align: left;
  /* font-family: var(--pri-font); */
}

.fc-news button {
  width: fit-content;
  font-size: 1.1rem;
  padding: 0.6rem var(--mb-1-5);
  font-weight: 400;
  font-family: var(--sec-font);
  border-radius: 5px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  color: var(--black);
  text-align: center;
}

.fc-news button:hover {
  scale: 0.98;
}

.fc-border {
  height: 3px;
  width: 100%;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  border-radius: 30px;
}

.fc-mini {
  width: 100%;
  justify-content: space-between;
}

.fcm-brand {
  flex: 0 0 auto;
  justify-content: flex-start;
}

.fcm-brand p,
.fcm-links a {
  font-size: 0.98rem;
  font-weight: 300;
  text-align: left;
  color: var(--soft-white);
}

.fcm-links {
  flex: 0 0 auto;
  justify-content: flex-end;
  column-gap: var(--mb-0-5);
}

.fcm-links a {
  text-align: right;
  transition: all 0.3s ease;
}

.fcm-links a:hover {
  color: var(--theme-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (max-width: 430px) {
  /*========== HEADER SECTION ==========*/
  .header {
    width: 100%;
    /* border: 1px dodgerblue solid; */
    padding: 0 2.2rem;
    top: var(--mb-2);
    z-index: 10;
    /* display: none; */
  }

  .nav {
    padding: 0;
    padding-bottom: var(--mb-0-25);
    border-bottom: 1px var(--text-grey) solid;
  }

  .scroll-nav {
    width: 100%;
    padding: var(--mb-0-25) var(--mb-1);
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
  }

  .nav-logo h3 {
    font-size: 1rem;
  }

  .nav-links {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  #nm-open {
    display: block;
    font-size: var(--fs-1-5);
    color: var(--text-grey);
    text-align: right;
    justify-self: flex-end;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    right: -150%;
    top: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    row-gap: var(--mb-3);
    background-color: var(--black);
    z-index: 15;
    padding: var(--mb-1-5) var(--mb-2);
    transition: all 0.4s ease;
  }

  .toggle-nav-menu {
    right: 0;
  }

  #nm-close {
    position: absolute;
    right: var(--mb-1);
    top: var(--mb-1-5);
    font-size: var(--fs-2);
    transition: all 0.3s ease;
    cursor: pointer;
    color: var(--white);
  }

  .nm-logo {
    width: fit-content;
    justify-content: flex-start;
  }

  .nm-logo h3 {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
    color: var(--white);
  }

  .nm-links,
  .nm-socials {
    width: 100%;
    align-items: flex-start;
    row-gap: var(--mb-0-75);
    margin-bottom: 8rem;
  }

  .nm-socials {
    margin: 0;
    /* border: 1px red solid; */
    margin-bottom: var(--mb-2);
  }

  .nm-links h4,
  .nm-socials h4 {
    width: 100%;
    font-size: 0.85rem;
    text-align: left;
    font-weight: 600;
    color: var(--light-grey);
    text-transform: uppercase;
    padding-bottom: var(--mb-0-75);
    border-bottom: 2px var(--theme-color) solid;
    opacity: 0.85;
  }

  .nm-socials h4 {
    border: none;
    border-top: 2px var(--theme-color) solid;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
  }

  .nm-links ul {
    width: 100%;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: var(--mb-0-5);
    margin: var(--mb-1) 0;
  }

  .nm-socials ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: var(--mb-1);
  }

  .nml,
  .nms {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nml a {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    opacity: 0.95;
    transition: all 0.3s ease;
    border-bottom: 2px transparent solid;
    color: var(--soft-white);
  }

  .nml a:hover {
    border-bottom: 2px var(--theme-color) solid;
  }

  .nms a {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    color: var(--soft-white);
  }

  /*========== FOOTER SECTION ==========*/
  .footer {
    width: 100%;
    padding: var(--mb-1-5);
    /* border: 1px orange solid; */
  }

  .f-container {
    width: 100%;
    background-color: var(--black);
    row-gap: var(--mb-1-5);
    padding: var(--mb-3) var(--mb-2);
  }

  .fc {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: var(--mb-4);
  }

  .fc-title {
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    row-gap: var(--mb-1-5);
  }

  .fc-title h3 {
    font-size: 1.8rem;
    text-align: center;
  }

  .fc-title p {
    width: 100%;
    font-size: 0.98rem;
    font-weight: 300;
    text-align: center;
  }

  .fc-socials {
    width: 100%;
    justify-content: center;
  }

  .fcs {
    width: 35px;
    height: 35px;
  }

  .fcs a i {
    font-size: 1.25rem;
  }

  .fc-links {
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    row-gap: var(--mb-1-5);
  }

  .fc-links h3 {
    font-size: 1.25rem;
    text-align: center;
  }

  .fc-links ul {
    align-items: center;
    flex-direction: column;
    row-gap: var(--mb-0-5);
    margin: 0;
    border: 0;
  }

  .fcl,
  .fcl a {
    justify-content: center;
  }

  .fcl a {
    text-align: center;
  }

  .fc-news {
    flex: 0 0 30%;
    align-items: flex-start;
    row-gap: var(--mb-1);
  }

  .fc-news h3 {
    font-size: var(--fs-1-5);
    text-align: left;
    font-weight: 500;
    color: var(--white);
    line-height: 1;
    margin-bottom: var(--mb-1);
  }

  .fc-news input {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: var(--mb-0-75) var(--mb-1);
    font-size: var(--fs-1);
    color: var(--text-grey);
    text-align: left;
    /* font-family: var(--pri-font); */
  }

  .fc-news button {
    width: fit-content;
    font-size: 1.1rem;
    padding: 0.6rem var(--mb-1-5);
    font-weight: 400;
    font-family: var(--sec-font);
    border-radius: 5px;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    color: var(--black);
    text-align: center;
  }

  .fc-news button:hover {
    scale: 0.98;
  }

  .fc-border {
    height: 3px;
    width: 100%;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    border-radius: 30px;
  }

  .fc-mini {
    width: 100%;
    justify-content: space-between;
  }

  .fcm-brand {
    flex: 0 0 auto;
    justify-content: flex-start;
  }

  .fcm-brand p,
  .fcm-links a {
    font-size: 0.98rem;
    font-weight: 300;
    text-align: left;
    color: var(--soft-white);
  }

  .fcm-links {
    flex: 0 0 auto;
    justify-content: flex-end;
    column-gap: var(--mb-0-5);
  }

  .fcm-links a {
    text-align: right;
    transition: all 0.3s ease;
  }

  .fcm-links a:hover {
    color: var(--theme-color);
  }

  .fc-news {
    flex: 0 0 auto;
    align-items: center;
    row-gap: var(--mb-1-5);
  }

  .fc-news h3 {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    line-height: 1;
  }

  .fc-news input {
    width: 100%;
    padding: var(--mb-0-75) var(--mb-1);
    font-size: 0.95rem;
    text-align: center;
    /* font-family: var(--pri-font); */
  }

  .fc-news button {
    width: fit-content;
    font-size: 1rem;
    text-align: center;
  }

  .fc-news button:hover {
    scale: 0.98;
  }

  .fc-border {
    height: 3px;
    width: 100%;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    border-radius: 30px;
    margin: var(--mb-2) 0;
  }

  .fc-mini {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--mb-2);
  }

  .fcm-brand {
    flex: 0 0 auto;
    justify-content: center;
  }

  .fcm-brand p,
  .fcm-links a {
    font-size: 0.95rem;
    text-align: center;
  }

  .fcm-links {
    flex: 0 0 auto;
    justify-content: center;
    flex-direction: column;
    column-gap: unset;
    row-gap: var(--mb-1);
  }

  .fcm-links a {
    text-align: center;
    transition: all 0.3s ease;
  }
}

@media screen and (min-width: 1600px) {
  .header {
    padding: 0 26rem;
    top: var(--mb-3);
  }

  .scroll-nav {
    padding: var(--mb-1) var(--mb-1-5);
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
  }

  /*========== FOOTER SECTION ==========*/

  .footer {
    width: 100%;
    padding: var(--mb-1-5) 18rem;
    /* border: 1px orange solid; */
  }
}
